body{
    box-sizing: border-box;
    max-width: 600px;
    backgroud-color: #ccc;
    margin: 0 auto;
    
}

#idl{
    width: 300px;
    margin: 0 auto;
    border:1px solid: black;
    border radius: 5px
    margin-top: 30 px;
    padding-bottom



